body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  /*height: 100vh;*/
  /*background-color: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));*/
  background: -webkit-linear-gradient(top, rgba(124, 45, 72, .8), rgba(75,27,43, .8));
  background-color: -moz-linear-gradient(top, rgba(124, 45, 72, .8), rgba(75,27,43, .8));
  background-color: -ms-linear-gradient(top, rgba(124, 45, 72, .8), rgba(75,27,43, .8));
  background-color: -o-linear-gradient(top, rgba(124, 45, 72, .8), rgba(75,27,43, .8));
  background-image: url('images/tile-svg.svg');
  /*-webkit-mask-image: url(images/tile-svg.svg);
   mask-image: url(images/tile-svg.svg);*/
  background-color: maroon;
  color: #fff;
}

#pivot {
  margin-top: 40px;
  padding: 7px;
  /*background: #fff;*/
  cursor: pointer;
  transition-duration: 1s;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 25px;
  width: 250px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

#pivot:hover {
  /*background: #000;*/
  /*color: #fff;*/
}
.content-container {
  width: 80%;
  margin: 25vh auto 0;
}
.content-container h1 {
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 2px;
}

#replace-this-text {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 600;
}

@media (max-width: 900px) {body {
  font-size: 10px;}
}
@media (max-width: 600px) {
  body {font-size: 8px;}
  .content-container {margin-top: 10vh;}
}
