body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  text-align: center;
  background-image: url('images/tile-svg-low.svg');
  background-color: #800000;
  color: #fff;
  transition: 1s;
  -webkit-transition: 1s;
}

#pivot {
  margin-top: 40px;
  padding: 7px;
  cursor: pointer;
  transition-duration: 1s;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 25px;
  width: 250px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 600;
}

#pivot:hover {
  background: #fff;
  color: #800000;
}
button:focus {outline:0;}
/*FIGURE OUT LATER*/
.hoverColors {}

.content-container {
  width: 80%;
  margin: 25vh auto 0;
}
.content-container h1 {
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 2px;
}

#replace-this-text {
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 600;
  min-height: 150px;
}

@media (max-width: 900px) {
  body {font-size: 10px;}
  #replace-this-text {min-height: 120px;}
}
@media (max-width: 600px) {
  body {font-size: 8px;}
  .content-container {margin-top: 10vh;}
}
